h1 {
    color: red;
}

p,
li {
    color: green;
}

.special {
    color: orange;
    font-weight: bold;
}

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

span {
    border: 1px solid black;
    background-color: lime;
}